@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
    --font-sans: 'Source Sans 3', ui-sans-serif, system-ui, sans-serif;
    --font-heading: 'Plus Jakarta Sans', ui-sans-serif, system-ui, sans-serif;
    
    --color-semudah-primary: #1E648A;
    --color-semudah-secondary: #63C0CE;
    --color-semudah-accent: #75C8D1;
    --color-semudah-anchor: #005555;
    --color-semudah-bg: #FEFEFE;
}
